@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.navbar-brand {
    font-weight: 700;
    display: flex;
    align-items: center;

}

header .active {
    font-weight: 700;
}

main {
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    min-height: 90vh;
}

#leaderboard .card {
    margin-bottom: 1rem;

    .icon-text {
        font-size: 1.2rem;
        /* adjust as needed */
    }

    .icon-text svg {
        width: 1.2em;
        /* adjust as needed */
        height: 1.2em;
        /* adjust as needed */
    }
}

.button-tooltips {

    .button-tooltip {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin: 0;
    }

    .button-tooltip.no-clicked {
        cursor: default;
    }

    .profile-icon {
        border-radius: 50%;
        width: 24px;
        height: 24px;
    }
}

/* remove underline text in .back-link */
.back-link {
    text-decoration: none !important;
    cursor: pointer;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

/* .input-markdown make like textarea but supported markdown */
.input-markdown {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    resize: vertical;
    min-height: 100px;
}

@media (min-width: 768px) {
    main {
        min-height: 80vh;
    }
}

@media (min-width: 992px) {
    main {
        min-height: 70vh;
    }
}